@{
    ViewBag.Title = "Об Авторе";
}
<h2>@ViewBag.Title</h2>

<p>Студент 3-го курса Харьковского Аэрокосмического университета им. М. Е. Жуковского "ХАИ" 335-ой группы:</p>
<h4>Рязанцев Никита</h4>
