@{
    ViewBag.Title = "Сервисы";
}

<div class="panel panel-default">
    <div class="panel panel-heading">
        <h2>Список сервисов</h2>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                @Html.ActionLink("Сервис Учителей", "Index", "Teacher", null, new { @class = "btn btn-link" })
            </li>
        </ul>
    </div>
</div>
